<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    {% for m in menu %}
    {% if not forloop.last %}<li>{% else %}<li class='last'>{% endif %}
    <a href="{% url m.url_name %}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
<ul>
    {% for post in posts %}
    {% if post.is_published %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p><a href="{% url 'post' post.id %}">Read post</a></p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>